<!-- Container for demo purpose -->
<div class="container my-10 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
        <div class="">
            <h1 class="mb-5 text-2xl md:text-4xl font-bold text-secondary">
                Meet Our Team
            </h1>
            <p class="text-gray-600 text-lg mb-20 p-2">Guided by passion and expertise, our
                diverse team drives our mission with unwavering dedication. Our team comprises
                individuals with a wide range of skills and backgrounds, coming together with a shared purpose: to
                advance our mission
                which is to prioritize health and well-being by increasing access to sustainable resources, while
                collaborating with
                stakeholders to achieve sustainable development and biodiversity conservation.</p>
        </div>
        <app-owl-carousel  [teamDetails]="details" [team]="true"></app-owl-carousel>
    </section>
    <div class="bg-secondary h-1 mx-6">

    </div>
    <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->