<div class=" w-full my-24">
    <div class="container mx-auto flex flex-col p-4 text-center justify-center items-center ">
        <div class="">
            <h4 class="text-secondary uppercase font-bold text-2xl mb-3">Join Us</h4>
            <p class="text-gray-600 font-semibold pb-8">We offer internship opportunities for local students are
                encouraged
                to apply.
                <br>Drop us an email at
                <strong>hello@feedbacktothefuture.org</strong>
            </p>
            <p class="text-gray-600 font-bold pb-8">Any job opening will be posted.</p>
        </div>
        <div class="">
            <button type=""
                class="group mt-4 flex w-full items-center justify-center gap-2 rounded-md bg-primary px-5 py-3 text-white transition focus:outline-none focus:ring focus:ring-yellow-400 sm:mt-0 sm:w-auto ">
                <span class="text-sm font-medium"> Click Here </span>
                <svg class="h-5 w-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </button>
        </div>
    </div>
</div>