<!-- section 1 Hero -->
<section class="h-[70vh] flex flex-col justify-end bg-no-repeat bg-cover bg-transparent"
    style="background-image: url(../../../../assets/images/Hero/hero-aboutUs.png);">
    <div class=" container mx-auto h-32">
        <h1 class="text-white text-center text-4xl font-bold px-10">We srive to create a dynamic equilibrium between the
            social foundation and ecological ceiling as we aim to plift local communities.</h1>
    </div>
</section>

<!-- section 2 our organization -->
<div class=" max-w-4xl mx-auto flex flex-col text-center items-center py-20 mb-80">
    <!-- heading -->
    <div class="">
        <hr>
        <h4 class="text-primary text-2xl uppercase font-bold py-4">Our Organization</h4>
    </div>
    <!-- content -->
    <div class="text-gray-800 font-semibold">
        <p class="p-1 ">We are dedicated to promoting resilient and equitable communities in Kenya and
            East Africa by adopting regenerative and circular economy practices.</p>
        <p class="p-1">Our primary objective is to enhance the health and well-being of both people and the
            planet by increasing access to diverse nutritious organic foods, sustainable energy,
            waste management systems, natural building materials, and ecosystem restoration.</p>
        <p class="p-1">We firmly believe that effective collaboration and partnership building with
            stakeholders from all sectors is crucial to achieving sustainable development that
            balances social equity and ecological preservation. We are committed to creating a
            regenerative economy prioritizing sustainable community development, biodiversity
            conservation, and environmental stewardship.</p>
    </div>
</div>

<!-- section 2 our organization -->
<div class=" bg-secondary w-full mx-auto flex flex-col text-center items-center py-20 ">
    <div class="-m-96 ">
        <img src="../../../../assets/images/Hero/org-pic.png" alt="">
    </div>
    <div class="max-w-4xl mt-[28rem]">
        <!-- heading -->
        <div class="">
            <hr>
            <h4 class="text-white text-2xl uppercase font-bold py-4">Living Lab Approach</h4>
        </div>
        <!-- content -->
        <div class="text-white md:px-10 font-semibold ">
            <p class="p-5">At our organization, we value community engagement and believe that involving local
                communities in identifying issues, brainstorming solutions, and executing
                improvements is key. We use a living lab approach that creates an environment
                where experts and community members can work together to undertake community based projects that are
                tailored to their
                specific needs.</p>
            <p class="p-2">Our living labs are spaces for creativity and experimentation of regenerative and
                circular innovations in real life, allowing us to test, prototype, pilot, and scale proven
                and working technologies or innovations. This way we ensure the full participation of
                different stakeholders and our programs are contextualized to the local situation.</p>
        </div>
    </div>
</div>

<div class="container mx-auto flex gap-1 md:p-28">
    <div class="">
        <h4 class="text-secondary font-bold uppercase">Our Mission</h4>
        <h1 class="text-primary font-bold text-3xl pb-2 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
        <p class="text-gray-600 font-semibold mr-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsa
            repudiandae, quibusdam doloremque qui
            similique voluptas aperiam eos totam? Beatae eveniet eius ullam odio asperiores eos enim ab quae
            perferendis!</p>
    </div>
    <div class="">
        <h4 class="text-secondary font-bold uppercase">Our Vision</h4>
        <h1 class="text-primary font-bold text-3xl pb-2 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
        <p class="text-gray-600 font-semibold mr-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsa
            repudiandae, quibusdam doloremque qui
            similique voluptas aperiam eos totam? Beatae eveniet eius ullam odio asperiores eos enim ab quae
            perferendis!</p>
    </div>

</div>
<app-donors></app-donors>
<app-teams></app-teams>
<app-internship></app-internship>
<app-subscribe></app-subscribe>
<app-footer></app-footer>