<div id="page-container" class="flex flex-col mx-auto  bg-gray-100 dark:text-gray-100 dark:bg-gray-900">

    <!-- Container for demo purpose -->
    <div class="bg-secondaryBg">
        <div class="container md:flex md:flex-col mx-auto md:my-24 my-10 px-5">
            <div class="mb-4">
                <hr>
                <h4 class="text-secondary text-4xl uppercase font-bold">contact us</h4>
            </div>
            <div class="md:flex md:flex-row mx-auto w-full gap-10">
                <div class=" w-full flex flex-col justify-around py-5">
                    <div>
                        <h3 class="text-2xl font-bold mb-3">
                            We'd love to hear <br>from you
                        </h3>
                    </div>
                    <div class="text-lg pb-4">
                        <p class="mb-4 mr-2 ">
                            Have any question in mind or want to
                            enquire? <br> Please feel free to contact us
                            through the form or the following details.
                        </p>
                    </div>
                    <div class="">
                        <img class="pr-4" src="../../../../assets/images/contact/contact.png" alt="">
                    </div>
                </div>
                <div class="w-full flex flex-col  justify-between">
                    <div>
                        <h3 class="font-bold text-2xl mb-2">Lets talk!</h3>
                    </div>
                    <div>
                        <p class=" mb-2 text-lg">+234 09012346514</p>
                        <p class="mb-2 text-lg">hello@feedbacktothefuture.org</p>
                        <hr>
                    </div>
                    <div>
                        <h3 class="font-bold mb-2 text-lg">Headoffice</h3>
                        <p class="font-semibold mb-2 text-lg"><a
                                href="https://www.google.com/maps?q=-1.84366834163666,37.2785568237305">Mwanyani Road
                                Makueni</a></p>
                    </div>
                    <div>
                        <img src="../../../../assets/images/contact/social-conatct.png" alt="socila media logos">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container mx-auto md:my-24 my-5 px-5">
            <form action="#" method="POST" class="md:flex md:flex-row justify-center gap-10">
                <!-- form container -->
                <div class="w-full">
                    <div class="my-8">
                        <label for="text" class="block text-lg font-bold text-secondary ">
                            Full Name
                        </label>
                        <div class="mt-1">
                            <input type="text" name="fullname" id="fullname" autocomplete="text" required
                                class="w-full  bg-secondary11  px-3 py-4 rounded-lg shadow-sm focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary">
                        </div>
                    </div>
                    <div class="my-8">
                        <label for="email" class="block text-lg font-bold text-secondary ">
                            Email
                        </label>
                        <div class="mt-1">
                            <input type="email" name="email" id="email" autocomplete="email" required
                                class="w-full bg-secondary11  px-3 py-4 rounded-lg shadow-sm focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary">
                        </div>
                    </div>
                    <div class="my-8">
                        <label for="email" class="block text-lg font-bold text-secondary ">
                            Phone Number
                        </label>
                        <div class="mt-1">
                            <input type="text" name="phone" id="phone" autocomplete="phone" required
                                class="w-full  bg-secondary11  px-3 py-4 rounded-lg shadow-sm focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary">
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class=" w-full">
                        <div class="my-8">
                            <label for="text" class="block text-lg font-bold text-secondary ">
                                Message
                            </label>
                            <div class="mt-1">
                                <textarea name="message" id="message" cols="30" rows="10"
                                    class="w-full rounded-xl bg-secondary11"></textarea>
                            </div>
                        </div>
                        <div class="my-8">
                            <button type="button"
                                class="text-white bg-primary hover:bg-secondary  font-medium rounded-full text-sm px-10 py-3 text-center dark:bg-green-600 dark:hover:bg-primary">
                                Send
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <section class="text-gray-600 body-font relative h-[70vh]">
        <div class="absolute inset-0 bg-gray-300">
            <!-- <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map"
                scrolling="no"
                src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=%C4%B0zmir+(My%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed"
                style=""></iframe> -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.7391529729834!2d37.27654677496682!3d-1.8497994981332866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182ff86b051efbb3%3A0xd5e7910d4dbffc53!2sMaiani-%20Miui%20Access%20Road!5e0!3m2!1sen!2ske!4v1698882701126!5m2!1sen!2ske"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" laoding="lazy"></iframe>
        </div>
        <div class="container px-5 py-24 mx-auto flex">

        </div>
    </section>
</div>