<div class="w-full bg-secondaryBg ">
    <div class="max-w-5xl mx-auto py-10" *ngIf="article">
        <div class="pt-5 text-primary">
            <strong>Author: {{article.author}}</strong>
        </div>
        <div class="py-5">
            <h1 class="font-bold text-4xl text-secondary">{{article.title}}</h1>
        </div>
        <div class="py-5">
            <img src="{{article.imageSrc}}" alt="{{article.imageAlt}}" class="w-full">
        </div>
        <div class="py-5 text-lg text-justify">
            <p class="pb-5">{{article.content}}</p>
        </div>
    </div>
</div>