
<div class="h-[85vh] bg-secondary flex flex-col justify-end flex-wrap pb-28 bg-no-repeat bg-cover bg-center "
    style="background-image: url(../../../../assets/images/Hero/Hero-2.png); ">
    <!-- main conatiner -->
    <div class="container mx-auto text-center items-center ">
        <div class="">
            <div class="">
                <h4 class="text-white uppercase text-lg font-semibold mb-4">Welcome to feedback to the future</h4>
            </div>
            <div class="">
                <h1 class="text-white uppercase text-4xl font-bold mb-4">Co-creation and operation of <br>circular and
                    regenerative
                    innovations.</h1>
            </div>
            <div class="flex justify-center flex-wrap ">
                <div class="">
                    <p class="text-white ">50 Farmers in our Program
                    </p>
                </div>
                <div class="">
                    <!-- hr line comes here -->
                    <p>--------------------------</p>
                </div>
                <div class="">
                    <p class="text-white ">More than 200 Crops
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>