<!-- Introduction -->
<div class="container mx-auto my-20 md:grid grid-cols-3 items-center flex-wrap">
    <div class="col-span-2 p-8 md:p-24">
        <hr>
        <h4 class="text-secondary uppercase text-lg font-bold pb-2">Introduction</h4>
        <div class="">
            <h1 class="text-primary text-5xl font-bold pb-6">Co-creation and operation of circular and regenerative
                innovations</h1>
            <p class="pb-2 text-gray-800 font-semibold mr-3">Our focus as an organization is on co-creating and
                operating
                circular and regenerative innovations that can make the world
                a better place for everyone.</p>
            <p class="text-gray-800 font-semibold mr-3">We believe in connecting local knowledge and networks with
                useful technology and innovations to provide ample feedback
                to local communities and ecosystems.</p>
        </div>
    </div>

    <div class="col-span-1 p-12">
        <img src="../../../../assets/images/home/INTRO IMAGE.png" alt="" class="">
    </div>
</div>

