<!-- Introduction -->
<div class="">
    <div class="container mx-auto md:my-20 md:grid md:grid-cols-2 xl:grid xl:grid-cols-3 flex-wrap items-center">
        <div class="xl:col-span-2 md:col-span-1 p-8  text-center md:text-left">
            <div class="text-justify">
                <h1 class="text-primary text-3xl md:text-5xl font-bold pb-6 text-center md:text-left">Co-creation and
                    operation of
                    circular and
                    regenerative
                    innovations</h1>
                <p class="pb-2 text-gray-600 font-semibold mr-3 text-center text-lg md:text-left">Our focus as an
                    organization is on
                    co-creating
                    and
                    operating
                    circular and regenerative innovations that can make the world
                    a better place for everyone.</p>
                <p class="text-gray-600 text-lg font-semibold mr-3 text-center md:text-left">We believe in connecting
                    local knowledge
                    and
                    networks with
                    useful technology and innovations to provide ample feedback
                    to local communities and ecosystems.</p>
            </div>
        </div>

        <div class="xl:col-span-1 flex flex-col justify-center items-center p-10">
            <div class="">
                <img src="../../../../assets/images/home/home-3.jpg" alt="" class="h-2/4">
            </div>
        </div>
    </div>
</div>