<!-- Introduction -->
<div class="">
    <div class="max-w-6xl mx-auto md:grid md:grid-cols-2 items-center h-2/4 my-24 shadow-2xl">
        <div class="p-16 text-center md:text-left md:col-span-1">
            <div class="">
                <h1 class="text-primary text-3xl font-bold pb-6 text-center md:text-left">Co-creation and
                    operation of
                    circular and
                    regenerative
                    innovations</h1>
                <p class="pb-2 text-gray-600 font-semibold mr-3 text-center text-lg md:text-justify">Our focus as an
                    organization is on
                    co-creating
                    and
                    operating
                    circular and regenerative innovations that can make the world
                    a better place for everyone.</p>
                <p class="text-gray-600 text-lg font-semibold mr-3 text-center md:text-justify">We believe in connecting
                    local knowledge
                    and
                    networks with
                    useful technology and innovations to provide ample feedback
                    to local communities and ecosystems.</p>
            </div>
        </div>

        <div class="col-span-1">
            <div class="flex flex-col justify-center items-right">
                <img src="../../../../assets/images/home/home-3.png" alt="" class="h-1/2">
            </div>
        </div>
    </div>
</div>