<div id="page-container" class="flex flex-col mx-auto min-w-[320px] bg-gray-100 dark:text-gray-100 dark:bg-gray-900">
    <!-- herro section -->
    <div class="h-[80vh] bg-no-repeat bg-cover bg-right md:bg-center flex flex-row items-center bg-primary bg-opacity-75"
        style="background-image: url(../../../../assets/images/services/hero-1.png);">
        <div class="container mx-auto ">
            <div class="md:w-3/5">
                <h1 class="text-secondary md:text-white text-4xl text-center md:text-left md:text-5xl font-bold pl-10 ">
                    We
                    promote circular and regenerative innovations,
                    including regenerative agriculture, natural buildings,
                    waste management and sustainable energy
                    techniques to support this mission.</h1>
            </div>
        </div>
    </div>
    <!-- content section our services -->
    <div class="">
        <div class="w-2/4 mx-auto my-24">
            <div class="my-2 ">
                <hr>
                <h4 class="text-secondary text-lg font-bold uppercase">Our Services</h4>
            </div>
            <!-- blocks -->
            <div class="md:grid md:grid-cols-3 w-full md:gap-6 md:my-20">
                <div class="bg-primary text-center h-full flex flex-col justify-center rounded-[5rem] col-span-1 mb-2">
                    <h1 class="text-white font-bold md:text-5xl">Capacity <br>Building</h1>
                </div>
                <div class="col-span-2 flex flex-col justify-center">
                    <img class="" src="../../../../assets/images/services/content-4.png" alt="">
                </div>
            </div>
            <div class="flex flex-col text-lg font-semibold">
                <p class="mb-2">At Feedback to the Future, we provide knowledge through our blended learning training,
                    utilizing both
                    face-to-face classes and our online training tool. Our training materials are accessible through our
                    app, which can be downloaded</p>
                <p class="">The app is designed to be accessible even without an internet connection, allowing users to
                    access
                    the training materials anytime, anywhere. Additionally, the app can be easily shared with others via
                    Bluetooth connectivity, enabling knowledge sharing and dissemination within communities. Through
                    this blended learning approach, we aim to make our training accessible, interactive, and convenient
                    for individuals and communities seeking to learn about regenerative agriculture and sustainable
                    practices.</p>
            </div>
        </div>
        <div class="w-2/4 mx-auto my-24">
            <!-- blocks -->
            <div class="md:grid md:grid-cols-3 w-full md:gap-6 md:my-20">
                <div class="bg-primary text-center h-full flex flex-col justify-center rounded-[5rem] col-span-1 mb-2">
                    <h1 class="text-white font-bold md:text-5xl">Technical <br> Support</h1>
                </div>
                <div class="col-span-2 flex flex-col justify-center">
                    <img class="" src="../../../../assets/images/services/content-5.png" alt="">
                </div>
            </div>
            <div class="flex flex-col text-lg font-semibold">
                <p class="mb-2">At Feedback to the Future, we provide technical support in setting up syntropic design
                    systems.
                    Syntropic design is a regenerative agricultural approach that involves creating diverse and mutually
                    beneficial plant communities. It aims to mimic natural ecosystems, enhancing biodiversity, soil
                    health,
                    and productivity.</p>
                <p class="">Our technical support includes guidance on on-site assessment, design planning, and
                    implementation
                    of syntropic design systems. We work closely with farmers and landowners to understand their
                    specific needs and goals. Our team of experts provides advice on selecting suitable plant species,
                    designing planting layouts, and managing the system over time</p>
            </div>
        </div>
        <div class="w-2/4 mx-auto my-24">
            <!-- blocks -->
            <div class="md:grid md:grid-cols-3 w-full md:gap-6 md:my-20">
                <div class="bg-primary text-center h-full flex flex-col justify-center rounded-[5rem] col-span-1 mb-2">
                    <h1 class="text-white font-bold md:text-5xl">Water <br> Management</h1>
                </div>
                <div class="col-span-2 flex flex-col justify-center">
                    <img class="" src="../../../../assets/images/services/content-1.png" alt="">
                </div>
            </div>
            <div class="flex flex-col text-lg font-semibold">
                <p class="mb-2">At Feedback to the Future, we offer community water management as a service to empower
                    and
                    support local communities in effectively managing their water resources. Our approach involves
                    providing comprehensive assistance and expertise to communities in developing and implementing
                    sustainable water management strategies.</p>
                <p class="">As part of our service, we conduct assessments to understand the specific water needs and
                    challenges of the community. We then work closely with community members, local leaders, and
                    stakeholders to co-design and implement customized water management plans</p>
            </div>
        </div>
    </div>

    <!-- cta -->
    <div class="bg-green-100 p-10 md:p-20 flex flex-col justify-center text-center">
        <div class="w-2/4 mx-auto bg-cover bg-center rounded-xl"
            style="background-image: url(../../../../assets/images/services/content-5.png);">
            <h1 class="text-2xl p-10 md:text-5xl text-white font-bold md:p-16 xl:p-40">We use a system approach to
                promote community
                development.</h1>
        </div>
    </div>
    <app-subscribe></app-subscribe>
    <app-footer></app-footer>
</div>