<div class="bg-secondary flex justify-center">
    <div class="container flex flex-col mx-auto my-20 p-11 justify-center">
        <div class="">
            <hr class="text-primary pb-2">
            <h1 class="mb-12 pb-4 text-5xl font-bold text-primary">Our Donors <br>and Partners</h1>
        </div>
        <div class="flex justify-between flex-wrap items-center text-center mb-4">
            <img src="../../../../assets/images/donors/donor-1.png" alt="" class="h-32">
            <img src="../../../../assets/images/donors/donor-2.png" alt="" class="h-32">
            <img src="../../../../assets/images/donors/donor-3.png" alt="" class="h-32">
            <img src="../../../../assets/images/donors/donor-4.png" alt="" class="h-32">
            <img src="../../../../assets/images/donors/donor-5.png" alt="" class="h-32">
            <!-- <img src="../../../../assets/images/donors/donor-6.png" alt="" class="h-32">
            <img src="../../../../assets/images/donors/donor-7.png" alt="" class="h-32"> -->
        </div>
    </div>
</div>