<div id="page-container" class="flex flex-col mx-auto min-w-[320px] bg-gray-100 dark:text-gray-100 dark:bg-gray-900">
    <!-- herro section -->
    <div class="h-[80vh] bg-no-repeat bg-cover bg-right md:bg-center flex flex-row items-center bg-primary bg-opacity-75"
        style="background-image: url(../../../../assets/images/what-we-do/hero-1.png);">
        <div class="container mx-auto ">
            <div class="md:w-3/4">
                <h1 class="text-secondary md:text-white text-4xl text-center md:text-left md:text-5xl font-bold pl-10 ">
                    We
                    promote circular and regenerative innovations,
                    including regenerative agriculture, natural buildings,
                    waste management and sustainable energy
                    techniques to support this mission.</h1>
            </div>
        </div>
    </div>
    <!-- content section -->
    <div class="w-full bg-green-100">
        <div class="bg-primary">
            <hr>
        </div>
        <div class="container mx-auto mb-24 flex flex-col">
            <div class="my-5">
                <h1 class="text-primary text-5xl font-bold">Water management <br>
                    Systems
                </h1>
            </div>
            <h3 class="text-secondary text-2xl font-bold mb-1">Community-level water management programs</h3>
            <div class="mr-10 text-gray-600 font-semibold my-5">
                <p class="mb-5">At Feedback to the Future, we are committed to reversing the downward water cycle caused
                    by land
                    degradation in Kenya. Many rivers have become seasonal due to unsustainable agricultural practices
                    and deforestation, leading to water shortages and damage to aquatic ecosystems. We work closely
                    with local communities to implement landscape water management strategies and promote
                    regenerative agriculture.</p>
                <p class="mb-5">By restoring degraded soils and allowing rainwater to penetrate the ground, we aim to
                    revive the water
                    cycle that has disappeared over time. Our efforts focus on restoring water availability, improving
                    ecosystem health, and ensuring sustainable water resources for present and future generations.</p>
            </div>
            <div class="my-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-2.png" alt="">
            </div>
        </div>
        <div class="bg-primary">
            <hr>
        </div>
        <div class="container mx-auto mb-24 flex flex-col">
            <div class="my-5">
                <h1 class="text-primary text-5xl font-bold">Renewable energy

                </h1>
            </div>
            <div class="mr-10 text-gray-600 font-semibold my-5">
                <p class="mb-5">At FttF, we integrate circular and regenerative economy principles with renewable energy
                    initiatives.
                    Our focus is on exploring the transformative potential of renewable energy in local communities.
                    Through living labs, we experiment with sustainable energy technologies to accelerate adoption. We
                    facilitate knowledge sharing and partnerships between government, private sectors, and
                    communities.</p>
                <p class="mb-5">Our goal is resource efficiency and waste reduction through circular economy principles.
                    By
                    prioritizing local resources and harnessing Kenya's solar potential, we promote sustainable energy
                    generation and economic growth. We empower communities, foster regenerative energy systems, and
                    promote collaboration.</p>
            </div>
            <div class="my-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-3.png" alt="">
            </div>
        </div>
        <div class="bg-primary">
            <hr>
        </div>
        <div class="container mx-auto mb-24 flex flex-col">
            <div class="my-5">
                <h1 class="text-primary text-5xl font-bold">Natural building

                </h1>
            </div>
            <div class="mr-10 text-gray-600 font-semibold my-5">
                <p class="mb-5">The built environment contributes significantly to environmental degradation, especially
                    in East Africa.
                    To address this, adopting natural building practices using locally available and renewable resources
                    is
                    crucial. Natural materials like adobe, rammed earth, bamboo, timber, and thatch have a lower carbon
                    footprint and minimal environmental impact.</p>
                <p class="mb-5">They also promote local skills, generate income, and preserve culture. Natural buildings
                    provide
                    excellent thermal insulation, reducing energy consumption and greenhouse gas emissions. At
                    Feedback to the Future, we promote and educate about the benefits of natural building through
                    training and guidance.</p>
            </div>
            <div class="my-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-7.png" alt="">
            </div>
        </div>
        <div class="bg-primary">
            <hr>
        </div>
        <div class="container mx-auto mb-24 flex flex-col">
            <div class="my-5">
                <h1 class="text-primary text-5xl font-bold">Waste management</h1>
            </div>
            <div class="mr-10 text-gray-600 font-semibold my-5">
                <p class="mb-5">East Africa, particularly Kenya, is undergoing social and economic changes, including
                    population
                    growth, urbanization, and shifting consumer behaviors. FttF is dedicated to addressing waste
                    management challenges through innovative solutions. Our living lab focuses on developing circular
                    waste management models, such as converting organic waste into compost for sustainable food
                    production.</p>
                <p class="mb-5">We explore producing biogas from household organic waste for cooking, reducing reliance
                    on
                    traditional fuels, and promoting a cleaner environment. Additionally, we implement biological
                    wastewater treatment solutions to minimize environmental impact and conserve water resources.
                    Through partnerships and research, we aim to create a sustainable waste management system,
                    fostering responsible practices and economic opportunities. Join us in building a future where waste
                    is valued and our actions benefit the environment and community.</p>
            </div>
            <div class="my-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-4.png" alt="">
            </div>
        </div>
        <div class="bg-primary">
            <hr>
        </div>
        <div class="container mx-auto mb-24 flex flex-col">
            <div class="my-5">
                <h1 class="text-primary text-5xl font-bold">Circular neighborhoods in <br>informal
                    settlements</h1>
            </div>
            <div class="mr-10 text-gray-600 font-semibold my-5">
                <p class="mb-5">At Feedback to the Future, we are actively involved in the development of circular
                    neighborhoods in
                    the slums of Nairobi. These neighborhoods are designed to promote sustainable practices and
                    address the unique challenges faced by slum communities. By adopting circular economy principles,
                    we aim to create self-sustaining communities that minimize waste, maximize resource efficiency, and
                    improve the overall quality of life.</p>
                <p class="mb-5">Our approach involves engaging with residents, community leaders, and stakeholders to
                    co-create
                    solutions that are tailored to the specific needs and context of the slums. We focus on implementing
                    initiatives such as waste management systems, renewable energy solutions, and sustainable water
                    and sanitation practices. Through the development of circular neighborhoods, we aim to create
                    inclusive and resilient communities that provide access to basic services, promote economic
                    opportunities, and enhance the overall well-being of slum residents. By transforming the slums into
                    sustainable and thriving neighborhoods, we strive to break the cycle of poverty and create a
                    brighter
                    future for all.</p>
                <p class="mb-5">At Feedback to the Future, we recognize the value of indigenous knowledge and cultural
                    practices in
                    understanding and addressing local challenges. We actively promote the collection and preservation
                    of indigenous knowledge because it provides valuable insights into different areas and contributes
                    to
                    the identity of local communities. We believe that this knowledge is not only essential for solving
                    local
                    problems but also for fostering sustainable development. By incorporating indigenous knowledge into
                    our work, we aim to honor and respect the wisdom of local communities while finding innovative
                    solutions that are rooted in their cultural heritage.</p>
            </div>
            <div class="my-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-5.png" alt="">
            </div>
        </div>
        <div class="bg-primary">
            <hr>
        </div>
        <div class="container mx-auto mb-24 flex flex-col">
            <div class="my-5">
                <h1 class="text-primary text-5xl font-bold">Indigenous knowledge preservation </h1>
            </div>
            <div class="mr-10 text-gray-600 font-semibold my-5">
                <p class="mb-5">At Feedback to the Future, we are actively involved in the development of circular
                    neighborhoods in
                    the slums of Nairobi. These neighborhoods are designed to promote sustainable practices and
                    address the unique challenges faced by slum communities. By adopting circular economy principles,
                    we aim to create self-sustaining communities that minimize waste, maximize resource efficiency, and
                    improve the overall quality of life.</p>
                <p class="mb-5">Our approach involves engaging with residents, community leaders, and stakeholders to
                    co-create
                    solutions that are tailored to the specific needs and context of the slums. We focus on implementing
                    initiatives such as waste management systems, renewable energy solutions, and sustainable water
                    and sanitation practices. Through the development of circular neighborhoods, we aim to create
                    inclusive and resilient communities that provide access to basic services, promote economic
                    opportunities, and enhance the overall well-being of slum residents. By transforming the slums into
                    sustainable and thriving neighborhoods, we strive to break the cycle of poverty and create a
                    brighter
                    future for all.</p>
                <p class="mb-5">At Feedback to the Future, we recognize the value of indigenous knowledge and cultural
                    practices in
                    understanding and addressing local challenges. We actively promote the collection and preservation
                    of indigenous knowledge because it provides valuable insights into different areas and contributes
                    to
                    the identity of local communities. We believe that this knowledge is not only essential for solving
                    local
                    problems but also for fostering sustainable development. By incorporating indigenous knowledge into
                    our work, we aim to honor and respect the wisdom of local communities while finding innovative
                    solutions that are rooted in their cultural heritage.</p>
            </div>
            <div class="my-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-6.png" alt="">
            </div>
        </div>
    </div>
    <app-subscribe></app-subscribe>
    <app-footer></app-footer>
</div>