<!-- herro section -->
<div class="">
    <div class=" h-[80vh] xl:h-[60vh] bg-no-repeat bg-cover bg-right md:bg-center flex flex-row items-center bg-primary bg-opacity-75"
        style="background-image: url(../../../../assets/images/what-we-do/hero-1.webp);">
        <div class="container mx-auto ">
            <div class="md:w-3/5">
                <h1 class=" text-white text-3xl text-center md:text-left  pl-10 font-bold ">
                    "We
                    promote circular and regenerative innovations,
                    including regenerative agriculture, natural buildings,
                    waste management and sustainable energy
                    techniques to support this mission."</h1>
                <h1></h1>
            </div>
        </div>
    </div>
</div>
<!-- content section -->
<div class="bg-secondaryBg">
    <div class="max-w-5xl mx-auto p-4 text-center md:text-start">
        <div class="max-w-5xl mx-auto mb-8 flex flex-col">
            <div class="mt-5">
                <h1 class="text-primary text-3xl font-bold text-center md:text-left">Regenerative Agriculture and
                    Ecosystem <br>
                    Restorations
                </h1>
            </div>
            <div class=" text-gray-600  my-5 text-lg text-center md:text-justify">
                <p class="mb-5">Our program helps farmers transition to sustainable practices like syntropic
                    agroforestry, restoring
                    ecosystems, enhancing soil fertility, and improving livelihoods.
                    Our comprehensive blended learning program helps farmers transition to regenerative practices,
                    including syntropic agroforestry. This practice creates diverse and mutually beneficial plant
                    communities, improving biodiversity, soil health, and productivity.</p>
                <p class="mb-2">Through physical classes and digital open-source training, farmers gain the skills and
                    knowledge to
                    implement and manage sustainable agroforestry systems effectively. By embracing regenerative
                    agriculture, farmers can restore the environment and improve their livelihoods, ensuring a
                    sustainable
                    and resilient food system.</p>
            </div>
            <div class="mt-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-1.webp" alt="" class="h-full">
            </div>
        </div>
    </div>
    <app-hr-line></app-hr-line>
    <div class="max-w-5xl mx-auto p-4 text-center md:text-start">
        <div class="max-w-5xl mx-auto mb-8 flex flex-col">
            <div class="my-5">
                <h1 class="text-primary text-3xl font-bold text-center md:text-left">Water Management <br>Systems
                </h1>
            </div>
            <h1 class="text-2xl font-bold text-secondary">Community-level water management programs</h1>
            <div class=" text-gray-600  mt-5 text-lg text-center md:text-justify">
                <p class="mb-5">At Feedback to the Future, we are committed to reversing the downward water cycle caused
                    by land
                    degradation in Kenya. Many rivers have become seasonal due to unsustainable agricultural practices
                    and deforestation, leading to water shortages and damage to aquatic ecosystems. We work closely
                    with local communities to implement landscape water management strategies and promote
                    regenerative agriculture.</p>
                <p class="mb-2">By restoring degraded soils and allowing rainwater to penetrate the ground, we aim to
                    revive the water
                    cycle that has disappeared over time. Our efforts focus on restoring water availability, improving
                    ecosystem health, and ensuring sustainable water resources for present and future generations.</p>
            </div>
            <div class="mt-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-2.webp" alt="" class="h-full w-full">
            </div>
        </div>
    </div>
    <app-hr-line></app-hr-line>
    <div class="max-w-5xl mx-auto p-4 text-center md:text-start">
        <div class="max-w-5xl mx-auto mb-8 flex flex-col">
            <div class="">
                <h1 class="text-primary text-3xl font-bold text-center md:text-left">Renewable Energy
                </h1>
            </div>
            <div class=" text-gray-600 mt-5 text-lg text-center md:text-justify">
                <p class="mb-5">At FttF, we integrate circular and regenerative economy principles with renewable energy
                    initiatives.
                    Our focus is on exploring the transformative potential of renewable energy in local communities.
                    Through living labs, we experiment with sustainable energy technologies to accelerate adoption. We
                    facilitate knowledge sharing and partnerships between government, private sectors, and
                    communities.</p>
                <p class="mb-2">Our goal is resource efficiency and waste reduction through circular economy principles.
                    By
                    prioritizing local resources and harnessing Kenya's solar potential, we promote sustainable energy
                    generation and economic growth. We empower communities, foster regenerative energy systems, and
                    promote collaboration.</p>
            </div>
            <div class="mt-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-3.webp" alt="" class="h-full w-full">
            </div>
        </div>
    </div>
    <app-hr-line></app-hr-line>
    <div class="max-w-5xl mx-auto p-4 text-center md:text-start">
        <div class="max-w-5xl mx-auto mb-8 flex flex-col">
            <div class="">
                <h1 class="text-primary text-3xl font-bold text-center md:text-left">Natural Building
                </h1>
            </div>
            <div class=" text-gray-600  mt-5 text-lg text-center md:text-justify">
                <p class="mb-5">The built environment contributes significantly to environmental degradation, especially
                    in East Africa.
                    To address this, adopting natural building practices using locally available and renewable resources
                    is
                    crucial. Natural materials like adobe, rammed earth, bamboo, timber, and thatch have a lower carbon
                    footprint and minimal environmental impact.</p>
                <p class="mb-2">They also promote local skills, generate income, and preserve culture. Natural buildings
                    provide
                    excellent thermal insulation, reducing energy consumption and greenhouse gas emissions. At
                    Feedback to the Future, we promote and educate about the benefits of natural building through
                    training and guidance.</p>
            </div>
            <div class="mt-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-4.webp" alt="" class="h-full w-full">
            </div>
        </div>
    </div>
    <app-hr-line></app-hr-line>
    <div class="max-w-5xl mx-auto p-4 text-center md:text-start">
        <div class="max-w-5xl mx-auto mb-8 flex flex-col">
            <div class="mt-5">
                <h1 class="text-primary text-3xl font-bold text-center md:text-left">Waste Management
                </h1>
            </div>
            <div class=" text-gray-600  mt-5 text-lg text-center md:text-justify">
                <p class="mb-5">East Africa, particularly Kenya, is undergoing social and economic changes, including
                    population
                    growth, urbanization, and shifting consumer behaviors. FttF is dedicated to addressing waste
                    management challenges through innovative solutions. Our living lab focuses on developing circular
                    waste management models, such as converting organic waste into compost for sustainable food
                    production.</p>
                <p class="mb-2">We explore producing biogas from household organic waste for cooking, reducing reliance
                    on
                    traditional fuels, and promoting a cleaner environment. Additionally, we implement biological
                    wastewater treatment solutions to minimize environmental impact and conserve water resources.
                    Through partnerships and research, we aim to create a sustainable waste management system,
                    fostering responsible practices and economic opportunities. Join us in building a future where waste
                    is valued and our actions benefit the environment and community.</p>
            </div>
            <div class="mt-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-5.webp" alt="" class="h-full w-full">
            </div>
        </div>
    </div>
    <app-hr-line></app-hr-line>
    <div class="max-w-5xl mx-auto p-4 text-center md:text-start">
        <div class="max-w-5xl mx-auto mb-8 flex flex-col">
            <div class="mt-5">
                <h1 class="text-primary text-3xl font-bold text-center md:text-left">Circular Neighborhoods in Informal
                    Settlements
                </h1>
            </div>
            <div class=" text-gray-600  mt-5 text-lg text-center md:text-justify">
                <p class="mb-5">At Feedback to the Future, we are actively involved in the development of circular
                    neighborhoods in
                    the slums of Nairobi. These neighborhoods are designed to promote sustainable practices and
                    address the unique challenges faced by slum communities. By adopting circular economy principles,
                    we aim to create self-sustaining communities that minimize waste, maximize resource efficiency, and
                    improve the overall quality of life.</p>
                <p class="mb-2">Our approach involves engaging with residents, community leaders, and stakeholders to
                    co-create
                    solutions that are tailored to the specific needs and context of the slums. We focus on implementing
                    initiatives such as waste management systems, renewable energy solutions, and sustainable water
                    and sanitation practices. Through the development of circular neighborhoods, we aim to create
                    inclusive and resilient communities that provide access to basic services, promote economic
                    opportunities, and enhance the overall well-being of slum residents. By transforming the slums into
                    sustainable and thriving neighborhoods, we strive to break the cycle of poverty and create a
                    brighter
                    future for all.</p>
            </div>
            <div class="mt-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-6.webp" alt="" class="h-full w-full">
            </div>
        </div>
    </div>
    <app-hr-line></app-hr-line>
    <div class="max-w-5xl mx-auto p-4 text-center md:text-start">
        <div class="max-w-5xl mx-auto mb-8 flex flex-col">
            <div class="mt-5">
                <h1 class="text-primary text-3xl font-bold text-center md:text-left">Indigenous knowledge preservation
                </h1>
            </div>
            <div class=" text-gray-600  mt-5 text-lg text-center md:text-justify">
                <p class="mb-2">At Feedback to the Future, we recognize the value of indigenous knowledge and cultural
                    practices in
                    understanding and addressing local challenges. We actively promote the collection and preservation
                    of indigenous knowledge because it provides valuable insights into different areas and contributes
                    to
                    the identity of local communities. We believe that this knowledge is not only essential for solving
                    local
                    problems but also for fostering sustainable development. By incorporating indigenous knowledge into
                    our work, we aim to honor and respect the wisdom of local communities while finding innovative
                    solutions that are rooted in their cultural heritage.</p>
                <p class="mb-2">Every year, Feedback to the Future organizes a vibrant cultural festival that celebrates
                    the rich diversity
                    of local culture. This festival is a platform for showcasing traditional food, dances, music, and
                    spirituality. We believe in honoring and preserving cultural heritage, and the festival provides an
                    opportunity for local communities to come together and share their traditions.</p>
            </div>
            <div class="mt-5 items-center">
                <img src="../../../../assets/images/what-we-do/content-7.webp" alt="" class="h-full w-full">
            </div>
        </div>
    </div>
</div>